/* Global */

:root {
  --color-primary: #cc603e;
  --color-offwhite: #fafafa;
  --color-offblack: #222;
  --color-darkgrey: #555;
  --color-lightgrey: #aaa;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-offwhite);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
footer > * {
  font-family: "Poppins", sans-serif;
}

header {
  height: 100vh;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#name-container {
  margin: 0 50px 0 0;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
  color: var(--color-offblack);
}

#name-container > h1 span {
  color: var(--color-primary);
}

#rotating-title-container {
  background-color: var(--color-offwhite);
  position: relative;
  height: 6em;
  margin: 0;
  display: inline-block;
  overflow: hidden;
}

#rotating-title-container::before,
#rotating-title-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0.75em;
  z-index: 1;
}

#rotating-title-container::before {
  top: 0;
  background: linear-gradient(to top, transparent, var(--color-offwhite));
}

#rotating-title-container::after {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--color-offwhite));
}

#rotating-title-container h1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header img {
  height: 70%;
  margin: 0;
  padding: 0;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: calc(100vw - 100px);
  padding: 0px 50px;
  background-color: white;
}

footer a,
footer p {
  text-decoration: none;
  font-weight: 300;
  color: var(--color-darkgrey);
  display: inline;
}

footer p:first-child {
  text-align: left;
}

footer a {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer p:last-child {
  text-align: right;
}

footer a:hover {
  text-decoration: underline;
}

footer svg {
  fill: var(--color-darkgrey);
  margin: 0 0 0 5px;
}

@media only screen and (max-width: 1300px) {
  header {
    flex-direction: column;
    width: 600px;
  }

  #name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 50px 0;
  }

  h1 {
    font-size: 2.5em;
    text-align: center;
  }

  #rotating-title-container {
    height: 4em;
  }

  header img {
    height: 70%;
    /* width: 150vw; */
  }
}

@media only screen and (max-width: 800px) {
  footer {
    padding: 0px 25px;
    width: calc(100vw - 50px);
  }

  footer a,
  footer p {
    font-size: 0.75em;
  }

  footer svg {
    height: 0.75em;
    width: 0.75em;
  }
}

@media only screen and (max-width: 600px) {
  header {
    width: auto;
  }
}
